<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rnsConString" connectionString="Data Source=ADE-PC\SQLSERVER2008;Initial Catalog=rns;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="rnsConString_rims" connectionString="Data Source=ADE-PC\SQLSERVER2008;Initial Catalog=rims;Integrated Security=True"
		   providerName="System.Data.SqlClient" />
		<add name="rnsConString_webdb" connectionString="Data Source=ADE-PC\SQLSERVER2008;Initial Catalog=webdb;Integrated Security=True"
		   providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>